
<footer>
  <hr />
  <div class="contact-links">
    <ul>
      <li> <a target="_blank" alt="facebook" href="https://facebook.com/{{site.facebook}}"> <img title="facebook" alt="facebook" src="/images/social_logo/facebook.png" href="https://www.facebook.com/{{site.facebook}}"/></a></li>
      <li> <a target="_blank" alt="github" href="https://github.com/{{site.github}}"> <img title="github" alt="github" src="/images/social_logo/github.png" href="https://www.github.com/{{site.github}}"/></a></li>
      <li> <a target="_blank" alt="twitter" href="https://twitter.com/{{site.twitter}}"> <img title="twitter" alt="twitter" src="/images/social_logo/twitter.png" href="https://www.twitter.com/{{site.twitter}}"/></a></li>
      <li> <a target="_blank" alt="instagram" href="https://instagram.com/{{site.instagram}}"> <img title="instagram" alt="instagram" src="/images/social_logo/instagram.png" href="https://www.instagram.com/{{site.instagram}}"/></a></li>
    </ul>
  </div>
</footer>
