
<footer>
  <ul>
    <li> <a href="https://facebook.com/{{site.facebook}}"> <img alt="facebook" src="/images/social_logo/facebook.png" href="https://facebook.com/{{site.facebook}}"/> {{site.facebook}} </li>
    <li> <a href="https://github.com/{{site.github}}"> <img alt="github" src="/images/social_logo/github.png" href="https://github.com/{{site.github}}"/> {{site.github}}  </li>
    <li> <a href="https://twitter.com/{{site.twitter}}"> <img alt="twitter" src="/images/social_logo/twitter.png" href="https://twitter.com/{{site.twitter}}"/> {{site.twitter}}</li>
    <li> <a href="https://instagram.com/{{site.instagram}}"> <img alt="instagram" src="/images/social_logo/instagram.png" href="https://instagram.com/{{site.instagram}}"/> {{site.instagram}} </li>
  </ul>
</footer>
